.blog {
  margin-bottom: 2rem;
}

.blog .blog-container {
  width: 90%;
  max-width: 630px;
  margin: auto;
}

.blog .blog-container h1 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 1rem;
}

.blog .blog-container img {
  margin-bottom: 1rem;
  width: 100%;
}

.blog .blog-container p {
  line-height: 1.7;
  font-size: 1.125em;
  margin: 1rem 0;
}

.blog .blog-container .post-entry a {
  text-decoration: none;
  line-height: 18px;
  background-color: #5d3fd3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  margin: 1rem 0;
}

.blog .blog-container .post-entry a:hover {
  background-color: #7d66ff;
}
